.container nav .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.container nav .header .list-item {
  padding-left: 10px;
}

.container nav .header .list-item a {
  color: #5f6368;
  text-decoration: none;
  font-weight: 500;
  font-family: sans-serif;
}

.container nav .header .list-item svg {
  width: 30px;
  height: 30px;
  color: #5f6368;
  fill: #5f6368;
  margin: 0 10px;
}

.container nav .header .list-item svg path {
  color: #5f6368;
}

.container nav .header .profilepic img {
  border-radius: 100%;
  width: 100%;
}

.container .search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container .search-area .logo {
  margin-bottom: 30px;
}

.container .search-area .search {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.container .search-area .search .input-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .search-area .search .input-area .voice-icon {
  position: absolute;
  right: 35%;
  top: 50%;
  transform: translate(-35%, -50%);
  width: 30px;
  height: 30px;
}
.container .search-area .search .input-area .voice-icon img {
  width: 100%;
}

.container .search-area .search .search-img {
  width: 25px;
  height: 25px;
  fill: #5f6368;
  position: absolute;
  left: 36%;
  top: 50%;
  transform: translate(-36%, -50%);
}

.container .search-area .search .input-area .input-enter {
  width: 30%;
  position: relative;
}

.container .search-area .search .input-area .input {
  background-color: transparent;
  border: 1px solid #5f6368;
  width: 100%;
  height: 50px;
  border-radius: 30px;
}

.container .search-area .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .search-area .buttons .button {
  background-color: #ebebeb;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.container .search-area .buttons .button:first-child {
  margin-right: 10px;
}

.container .search-area .buttons .button a {
  text-decoration: none;
  color: #5f6368;
  padding: 20px 30px;
  font-family: sans-serif;
}
